<h1><%= @user.username%></h1>

<% if @user.auctions.any? %>
<h2>Auctions</h2>
<% @user.auctions.each do |auction| %>
<%= link_to auction.name, auction_path(auction) %>
<% end%>
<% end%>

<% if @user.listings.any? %>
<h2>Listings</h2>
<ul>
<% @user.listings.each do |listing| %>
<li><%= link_to listing.title, listing_path(listing) %></li>
<% end%>
</ul>
<% end%>